{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "value": "eastus2"
    },
    "openAIAccountName": {
      "value": "your-account-name-here"
    },
    "aiFoundryProjectName": {
      "value": "your-project-name-here"
    },
    "gpt41ModelName": {
      "value": "gpt-4.1"
    },
    "gpt41ModelVersion": {
      "value": "2025-04-14"
    },
    "gpt41CapacityTPM": {
      "value": 50
    },
    "gpt41MiniModelName": {
      "value": "gpt-4o-mini"
    },
    "gpt41MiniModelVersion": {
      "value": "2024-07-18"
    },
    "gpt41MiniCapacityTPM": {
      "value": 100
    },
    "gpt4oModelName": {
      "value": "gpt-4o"
    },
    "gpt4oModelVersion": {
      "value": "2024-08-06"
    },
    "gpt4oCapacityTPM": {
      "value": 50
    }
  }
}
